source https://api.nuget.org/v3/index.json
framework: net40, net45

nuget FSharp.Core
nuget FSharp.Control.AsyncSeq
nuget Snappy.NET

group Build
  source https://api.nuget.org/v3/index.json

  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting  

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://api.nuget.org/v3/index.json
  redirects: force

  nuget FSharp.Core
  nuget FSharp.Control.AsyncSeq
  nuget NUnit
  nuget NUnit.Runners
  nuget Confluent.Kafka
