type project
owners
    Jet.com
authors
    Jet.com
projectUrl
    http://github.com/jet/kafunk
iconUrl
    https://raw.githubusercontent.com/jet/kafunk/master/docs/files/img/logo.png
licenseUrl
    http://github.com/jet/kafunk/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    kafka
summary
    F# client for Kafka
description
    Description not set


